In [12]:
info = {
    "name" : "Divyanshu",
    "roll" : 478,
    'adult' : True,
}
print(info)

print(info['roll'])

    # with empty space

null = {}

null['name'] = 'Divyanshu'
print(null)

{'name': 'Divyanshu', 'roll': 478, 'adult': True}
478
{'name': 'Divyanshu'}

In [17]:
# nested disc

student = {
    'Name' : 'Divyanshu',
    'roll' : 478,
    "subject" : {
        'phy' : 75,
        'chem' : 63,
        "math" : 89,
    }
}
print(student)

print(student['subject'])
print(student['subject']['phy'])

{'Name': 'Divyanshu', 'roll': 478, 'subject': {'phy': 75, 'chem': 63, 'math': 89}}
{'phy': 75, 'chem': 63, 'math': 89}
75

In [39]:
# method

student = {
    'Name' : 'Divyanshu',
    'roll' : 478,
    "subject" : {
        'phy' : 75,
        'chem' : 63,
        "math" : 89,
    }
}
print(student.keys())
print(list(student.keys()))
print(len(student.keys()))

print(student.values())
print(list(student.values()))

print(list(student.items()))

print(student.get('roll'))

# inser new items

city = {'city' : "Muzaffarpur",}
student.update(city)
print(student)

dict_keys(['Name', 'roll', 'subject'])
['Name', 'roll', 'subject']
3
dict_values(['Divyanshu', 478, {'phy': 75, 'chem': 63, 'math': 89}])
['Divyanshu', 478, {'phy': 75, 'chem': 63, 'math': 89}]
[('Name', 'Divyanshu'), ('roll', 478), ('subject', {'phy': 75, 'chem': 63, 'math': 89})]
478
{'Name': 'Divyanshu', 'roll': 478, 'subject': {'phy': 75, 'chem': 63, 'math': 89}, 'city': 'Muzaffarpur'}

In [57]:
# set

set = {1,2,3,4,5,6,3,'helo','helo'}
print(set)

set.add(10)
print(set)

set.remove(3)
print(set)

set.clear()
print(len(set))

set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))
print(set1.intersection(set2))

{'helo', 1, 2, 3, 4, 5, 6}
{'helo', 1, 2, 3, 4, 5, 6, 10}
{'helo', 1, 2, 4, 5, 6, 10}
0
{1, 2, 3, 4, 5}
{3}

In [13]:
dict = {
    'table' : ['a piece of furniture', 'list of facts and figures'],
    'cat' : 'a small animal',
}
print(dict)

student = {
    
    'classroom 1' : { 
        'subject' : 'python',
    }
     'classroom 2' : {
        'subject' : 'java',
    }
     'classroom 3' : {
        'subject' : 'c++',
    }
     'classroom 4' : {
        'subject' : 'javascript',
     }
     'classroom 5' : {
        'subject' : 'c',
    }
}
print(student)
print(len(student))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2494457586.py, line 9)

In [18]:
sub1 = int(input('enter the math marks'))
sub2 = int(input('enter the phy marks'))
sub3 = int(input('enter the chem marks'))
subject = {}
subject['Math'] = 'sub1'
subject['phy'] = 'sub2'               #problem
subject['chem'] = 'sub3'
print(subject)

enter the math marks 89
enter the phy marks 75
enter the chem marks 63

{'Math': 'sub1', 'phy': 'sub2', 'chem': 'sub3'}

In [22]:
set = {
    ('float', 9.0),
    ('int',9)
}
print(set)

{('float', 9.0), ('int', 9)}