In [19]:
                             # use to define the data type

day = 56
name = 'divyanshu'
price = 56.5
answer = True
a = None


print(type(day))
print(type(name))
print(type(price))
print(type(answer))
print(type(a))


python is a case sensitive language, it means that 'A' and 'a' is diffrent

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [29]:

# arthmatic operator

a = 56
b = 65
# sum = a+b
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)

121
-9
3640
0.8615384615384616
428767397726920461359949213083455469347901821842861057262916997345564317055935649863217467018497073282695955480576

In [31]:
# relation/ comparison operator

a = 56
b = 65

print(a == b)
print(a != b)
print(a >= b)
print(a > b)
print(a <= b)
print(a < b)

False
True
False
False
True
True

In [35]:
# assignment operators(=,+=,-=....)

num = 56
# num = num + 5
num += 5
print(num)

num = 56
# num = num - 5
num -= 5
print(num)

num = 56
# num = num * 5
num *= 5
print(num)

num = 56
# num = num / 5
num /= 5
print(num)

num = 56
# num = num + 5
num **= 5
print(num)

61
51
280
11.2
550731776

In [43]:
# logic operator(not,and,or)----  work on boolean value

a = 4
b = 12
print(not False)
print(not(a > b))

val_1 = False
val_2 = True

print("AND operator:",val_1 and val_2)   #IF ONE VALUE IS FALSE PRINT 'FALSE'

print('OR operator:',(a == b) or (a < b) )     #IF ONE VALUE IS TRUE PRINT AND ONE VALUE IS FALSE PRINT 'TRUE'

True
True
AND operator: False
OR operator: True

In [45]:
# type conversion

a = 56
a =  str(a)
print(a)

56

In [48]:
# learn input

name = input("enter your name:")
age = int(input("enter your age:"))
marks = float(input("enter your marks:"))

print("name=",name)
print("age=",age)
print("marks=",marks)

enter your name: Divyanshu
enter your age: 20
enter your marks: 00

name= Divyanshu
age= 20
marks= 00

In [57]:
# practice

first = int(input("enter A"))
second = int(input("enter B"))
sum = first + second
print(sum)

enter A 56
enter B 56

112

In [58]:
a = float(input('enter a'))
area = a*a
print("area is =",area)

enter a 23

area is = 529.0

In [66]:
A = float(input('enter the number A:'))
B = float(input('enter the number B:'))
avg = (A+B)/2
print('avg is:',avg)

enter the number A: 5
enter the number B: 6

avg is: 5.5

In [67]:
A = int(input('enter the number A:'))
B = int(input('enter the number B:'))
print(A >= B)

enter the number A: 6
enter the number B: 5

True